<section>
  <h3 class="text-center text-wrap">Confirm your email address</h3>
  <p class="text-center text-wrap">
    We've set an email to verify your email address and activate your account
  </p>
  <p class="text-center text-wrap">
    Click here
    <a href=""></a>
    if you did not receive an email
  </p>
</section>