html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  &.noscroll {
    overflow: hidden;
  }
}

ul {
  list-style: none;
  padding: 0;
}

// Spacing
.myContainer {
  max-width: 75rem;
  margin: 0 auto;
  // padding: 0;
  &--pall {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--py {
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
  }
  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--pt {
    padding-top: 5.5rem;
    // @include breakpoint-up(large) {
    //   padding-top: 6rem;
    // }
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 4.375rem;
    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }
  }
  &--pl {
    padding-left: 1.5rem;
  }
}
// flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  // hide for mobile
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include breakpoint-up(medium) {
    display: none;
  }
}

.text-primary {
  color: $darkYellow !important;
}

.bg-primary {
  background-color: $darkYellow !important;
}

.bg-secondary {
  background-color: $darkBlue !important;
}

.bg-light {
  background-color: #f5f5fa !important;
}

// customize owl carousel
.owl-carousel .owl-nav button {
  &.owl-prev,
  &.owl-next {
    font-size: 2rem;
    // transition: color 300ms ease-in-out;
    &:hover {
      background: none;
      color: $darkBlue;
    }
    &:focus {
      outline: none;
    }
  }
}

.owl-theme .owl-dots .owl-dot {
  &:hover {
    span {
      background: $darkYellow;
    }
  }
  &.active {
    span {
      background: $darkYellow;
    }
  }
  &:focus {
    outline: none;
  }
}
.owl-carousel .owl-stage {
  display: flex;
}

.admin-navigation,
.bidder-navigation {
  background-color: black;
  margin: 0;
  @include breakpoint-down(small) {
    margin: 0 1rem;
  }
}

.nav-active a {
  background-color: rgb(235, 235, 240) !important;
}
ul.nav-pills li a i {
  color: rgb(155, 155, 155);
  @include breakpoint-up(medium) {
    margin-right: 1.25rem;
  }
  @include breakpoint-down(small) {
    font-size: 1.25rem;
  }
}

ul.nav-pills li a {
  color: rgb(74, 74, 74);
  padding: 7px 18px;
}

ul.nav-pills li a:hover {
  background-color: rgb(235, 235, 240);
  color: rgb(0, 0, 0);
}

// ul.nav-pills li:hover {
//   transition: background-color 200ms ease-in-out;
//   background-color: #eee;
// }
.hide-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-menu[data-bs-popper] {
  left: inherit;
  right: 0;
}
.btnSort {
  background-color: white;
  &.active {
    background-color: $darkBlue;
    color: white;
  }
}
