html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  &.noscroll {
    overflow: hidden;
  }
}

ul {
  list-style: none;
  padding: 0;
}

// Spacing
.myContainer {
  max-width: 75rem;
  margin: 0 auto;
  // padding: 0;
  &--pall {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--py {
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
  }
  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--pt {
    padding-top: 5.5rem;
    // @include breakpoint-up(large) {
    //   padding-top: 6rem;
    // }
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 4.375rem;
    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }
  }
  &--pl {
    padding-left: 1.5rem;
  }
}
// flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  // hide for mobile
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include breakpoint-up(medium) {
    display: none;
  }
}

.text-primary {
  color: $darkYellow !important;
}

.bg-primary {
  background-color: $darkYellow !important;
}

.bg-secondary {
  background-color: $darkBlue !important;
}

// customize owl carousel
.owl-carousel .owl-nav button {
  &.owl-prev,
  &.owl-next {
    font-size: 2rem;
    // transition: color 300ms ease-in-out;
    &:hover {
      background: none;
      color: $darkBlue;
    }
    &:focus {
      outline: none;
    }
  }
}

.owl-theme .owl-dots .owl-dot {
  &:hover {
    span {
      background: $darkYellow;
    }
  }
  &.active {
    span {
      background: $darkYellow;
    }
  }
  &:focus {
    outline: none;
  }
}
.owl-carousel .owl-stage {
  display: flex;
}
