.products {
  &__near--end {
    @include breakpoint-down(small) {
      margin-top: 1rem;
    }
  }
  // categories
  &-parent-categories {
    & > li {
      border-radius: 5px;
      // position: relative;
      background: white;
      padding-left: 5px;
      margin-bottom: 15px;
      border-style: double;
      border-color: #662d91;
      font-size: large;
      transition: background-color 300ms ease-in-out;

      &:hover {
        border-radius: 5px;
        background-color: #fdb03d;
        cursor: pointer;

        & > a {
          color: white;
        }
      }

      & > a {
        font-weight: bold;
        color: black;
        font-size: larger;
        text-decoration: none;
        transition: color 300ms ease-in-out;
      }

      &:hover > ul {
        display: contents;
      }
    }
  }

  &-child-categories {
    position: relative;
    top: auto;
    list-style: none;
    font-weight: bold;
    font-size: smaller;
    display: none;

    & > li {
      margin: -5px;
      margin-right: -16px;
      margin-bottom: -10px;
      padding-left: 15px;
      padding-top: 0px;
      height: 35px;
      border-radius: 5px;
      border-style: double;
      border-color: #fdb03d;
      background: white;

      & > a {
        color: black;
        text-decoration: none;
        transition: color 300ms ease-in-out;

        &:hover {
          right: 5px;
          color: #fdb03d;
          text-decoration: none;
        }
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    text-transform: capitalize;
    // text-align: center;
    margin-bottom: 2rem;
    @include breakpoint-down(small) {
      font-size: 1.1rem;
    }
    @include breakpoint-up(medium) {
      // padding-left: 3.125rem;
    }
  }

  &__content {
    padding-left: 0;
    display: grid;
    gap: 1rem;
    @include breakpoint-down(small) {
      gap: 0.25rem;
    }

    @include breakpoint-up(medium) {
      padding-left: 50px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include breakpoint-up(xlarge) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include breakpoint-down(small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    &--new,
    &--win {
      background: $darkYellow;
      color: white;
      position: absolute;
      top: 0;
      right: 3px;
      font-size: 12px;
      text-align: center;
      padding: 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-weight: 600;
    }
    &--content {
      background-color: #fff;
      display: block;
      position: relative;
      // margin-bottom: 30px;
      -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
      max-width: 10.375rem;
      @include breakpoint-down(small) {
        max-width: 10rem;
      }
      // cursor: pointer;
      // @include breakpoint-down(small) {
      //   max-width: 100%;
      // }
    }

    &--price {
      animation: color 0.3s ease-in-out;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      // opacity: 0;
      display: inline-block;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      position: absolute;
      left: 8px;
      bottom: -10px;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px 15px;
      line-height: 1;
      color: #fff;
      font-weight: 600;
      font-size: 21px;
      font-size: 1.3125rem;
      width: 100%;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -50%);
      height: fit-content;
    }

    &--img {
      // height: 18.75rem;
      margin-bottom: 0;
      overflow: hidden;
      position: relative;
      text-align: center;
      // @include breakpoint-down(small) {
      //   max-width: 9.375rem;
      // }

      &--preview {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -12px;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;

        & a {
          background-color: #fcfcfc;
          background-color: rgba(255, 255, 255, 0.8);
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          border-radius: 20px;
          display: inline-block;
          color: #222;
          font-size: 12px;
          font-size: 0.75rem;
          padding: 5px 10px;
        }
      }

      &:hover &--preview {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }

      & a {
        img {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          backface-visibility: hidden;
          // width: 23rem;
          // min-height: 10.8125rem;
          min-width: 10.375rem;
          height: 10.8125rem;
          // @include breakpoint-up(medium) {
          //   height: 10.8125rem;
          // }
        }

        &:hover {
          img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }
    }

    &--wrapper {
      // height: 100%;
      padding: 0.625rem;
      font-size: 1rem;
      @include breakpoint-up(medium) {
        font-size: 0.75rem;
      }

      & h3 {
        // font-size: 20px;
        // font-size: 1.25rem;
        max-width: 10rem;
        font-size: 1rem;
        @include breakpoint-up(medium) {
          font-size: 0.75rem;
        }
        margin-top: 0;
        // min-height: 50px;
      }
    }

    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      border-top: 1px solid #ededed;
      margin: 0;

      & li {
        display: inline-block;

        // margin-right: 15px;
        &:last-child {
          margin-right: 0;
          float: right;

          & a {
            background: #fff;
            border: 2px solid #662d91;
            color: #662d91;
            padding: 5px 20px;
            font-weight: 500;
            line-height: 1;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            border-radius: 30px;

            &:hover {
              background: #662d91;
              color: #fff;
            }
          }
        }
      }
    }
  }

  &__pagination {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
  }

  &__favorite,
  &__bidding,
  &__winning {
    height: fit-content;
    display: grid;
    gap: 0.25rem;
    // @include breakpoint-up(medium) {
    //   padding-left: 50px;
    //   grid-template-columns: repeat(3, 1fr);
    // }
    // @include breakpoint-up(large) {
    //   grid-template-columns: repeat(4, 1fr);
    // }
    @include breakpoint-up(xlarge) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include breakpoint-down(small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }
  &__search {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
    }
    &--content {
      @include breakpoint-up(medium) {
        padding-left: 50px;
        padding-right: 0;
      }
    }
  }
  &__wrapper {
    @include breakpoint-down(small) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.btnSort {
  @include breakpoint-down(small) {
    &:last-child {
      margin-top: 0.5rem;
    }
  }
}

#products-search-result {
  &.products__content {
    gap: 0.25rem;
  }
  .products__item--content {
    @include breakpoint-down(small) {
      max-width: 10rem;
    }
  }
}

// .content__wrapper {
//   margin-left: 50px;
//   @include breakpoint-down(small) {
//     margin-left: 0;
//   }
// }
