<nav class="myContainer navbar navbar-expand-lg navbar-light">
  <a class="header__logo" href="/"><span>O</span>nline <span>A</span>uction</a>
  {{! <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> }}

  <div class="header__content">
    <form class="form-inline my-2 my-lg-0">
      <input
        class="header__input form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn header__btn header__search" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <ul class="navbar-nav header-top-level-menu">

      <li class="nav-item">
        <a href="/login" class="btn mx-2 header__btn" role="button">Sign in</a>
      </li>
    </ul>

  </div>
</nav>