<nav class="myContainer navbar navbar-expand-lg navbar-light px-0">
  <a class="header__logo flex flex-jc-sb flex-ai-c" href="/">
    <img class="img-fluid" src="public/images/logo-simple.svg" alt="logo" />
    <p class="m-0">
      <span>E</span>xpress
      <span>A</span>uction
    </p>
  </a>
  <div class="header__content">
    {{! <div id="searchdropdown" class="dropdown nav-item form-inline ml-auto show">
      
      <div id="resultbar" class="dropdown-menu-spec dropdown-with-icons"></div>

    </div> }}
    <form
      style="margin-left: auto;"
      id="search-area"
      class="form-inline my-2 my-lg-0"
      method="GET"
      action="/product/search"
    >
      <input
        id="search-bar"
        class="header__input form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn header__btn header__search" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <a
      style="margin-left: auto;"
      href="/login"
      class="btn header__btn"
      role="button"
    >Sign in</a>
  </div>
</nav>