<h3 class="fw-bold" style="text-align: center;">Add Product</h3>
<form id="addProductForm" method="post" enctype="multipart/form-data" action="/seller/add-product">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <div class="item">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Name<span style="color:red">*</span>:
                  </h4>
                </th>
                <td>
                  <input id="name" type="text" name="name" required />
                </td>
              </tr>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Category<span style="color:red">*</span>:
                  </h4>
                </th>
                <td>
                  <select name="category">
                    <option selected value="" disabled selected></option>
                    {{#each listSubCategory}}
                    <option value="{{catId}}">{{catName}}</option>
                    {{/each}}
                  </select>
                </td>
              </tr>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Base price<span style="color:red">*</span>:
                  </h4>

                </th>
                <td>
                  <input id="price" type="number" name="basePrice" step="any" required />
                </td>

              </tr>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Step price<span style="color:red">*</span>:
                  </h4>
                </th>

                <td>
                  <input id="step" type="number" name="stepPrice" step="any" required />
                </td>

              </tr>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Buy now price:
                  </h4>
                </th>
                <td>
                  <input id="buyNowPrice" type="number" name="buyNowPrice" step="any" />
                </td>
              </tr>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Expired After<span style="color:red">*</span>:
                  </h4>
                </th>
                <td>
                  <input type="number" name="timeNum" /> &nbsp; <select name="timeType">
                    <option selected value="hour">hour</option>
                    <option value="day">day</option>
                    <option value="week">week</option>
                    <option value="month">month</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Allow non-rated bidder:
                  </h4>
                </th>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="isAllow">
                    <label class="form-check-label" for="flexCheckDefault">
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="pl-0" scope="row">
                  <h4>
                    Auto extend limit:
                  </h4>
                </th>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="isAuto">
                    <label class="form-check-label" for="flexCheckDefault">
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {{!-- <div class="question">
          <h6>Allow bidding for bidder which doesn't have rating?</h6>
          <div class="question-answer">
            <div>
              <input type="radio" value="none" id="radio_1" name="gender" />
              <label for="radio_1" class="radio"><span>Yes</span></label>
            </div>
            <div>
              <input type="radio" value="none" id="radio_2" name="gender" />
              <label for="radio_2" class="radio"><span>No</span></label>
            </div>
          </div>
        </div> --}}
        <textarea id="tinymce-input" name="description"></textarea>
        <div class="form-group">
          <h4 for="images">Photo<span style="color: red;">*</span> <small>(Required at least 3 picture)</small></h4>
          <input id="images" type="file" class="filepond" name="images">
        </div>
      </div>
      <div class="card-footer text-muted">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
</form>

{{#section "stylesheets"}}
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />

<link rel="stylesheet" href="/public/css/product/addProduct.css" />
{{/section}}

{{#section "scripts"}}
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script
  src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

<script type="application/javascript" src="/public/tinymce/tinymce.min.js"></script>
<script type="application/javascript" src="/public/js/tinymce.config.js"></script>
<script src="/public/js/addProduct.js"></script>
{{/section}}