<h3 style="text-align: center;">Add Product</h3>
<form id="addProductForm" method="post" enctype="multipart/form-data" action="/seller/add-product">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <div class="item">
          <h6 for="name">Name<span>*:</span></h6>
          <input id="name" type="text" name="name" required />
        </div>
        <div class="item">
          <h6>Category<span>*</span>: &nbsp; <select>
              <option selected value="" disabled selected></option>
              {{#each listSubCategory}}
              <option value="{{catId}}">{{catName}}</option>
              {{/each}}
            </select>
          </h6>
        </div>
        <div class="item">
          <h6 for="price">Base price<span>*</span>:</h6>
          <input id="price" type="number" name="price" step="any" required />
        </div>
        <div class="item">
          <h6 for="step">Step price<span>*</span>:</h6>
          <input id="step" type="number" name="step" step="any" required />
        </div>
        <div class="item">
          <h6 for="buyNowPrice">Buy now price: </h6>
          <input id="buyNowPrice" type="number" name="buyNowPrice" step="any" />
        </div>
        <div class="item">
          <h6>Expired After<span>*</span>: &nbsp; <select>
              <option selected value="" disabled selected></option>
              <option value="1 week">1 week</option>
              <option value="1 month">1 month</option>
              <option value="3 months">3 months</option>
              <option value="6 months">6 months</option>
            </select>
          </h6>
        </div>
        {{!-- <div class="question">
          <h6>Allow bidding for bidder which doesn't have rating?</h6>
          <div class="question-answer">
            <div>
              <input type="radio" value="none" id="radio_1" name="gender" />
              <label for="radio_1" class="radio"><span>Yes</span></label>
            </div>
            <div>
              <input type="radio" value="none" id="radio_2" name="gender" />
              <label for="radio_2" class="radio"><span>No</span></label>
            </div>
          </div>
        </div> --}}
        <div class="form-group">
          <h6 for="images">Photo<span style="color: red;">*</span> <small>(Required at least 3 picture)</small></h6>
          {{!-- <input type="file" id="images" name="images" multiple /> --}}
          <input id="images" type="file" class="filepond" name="images">
        </div>
        <textarea id="tinymce-input">Hello, World!</textarea>
      </div>
      <div class="card-footer text-muted">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
</form>

{{#section "stylesheets"}}
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />

<link rel="stylesheet" href="/public/css/product/addProduct.css" />
{{/section}}

{{#section "scripts"}}
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script
  src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

<script type="application/javascript" src="/public/tinymce/tinymce.min.js"></script>
<script type="application/javascript" src="/public/js/tinymce.config.js"></script>
<script src="/public/js/addProduct.js"></script>
{{/section}}