<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oh no</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/error.css" />
  </head>
  <body>
    <!-- https://codepen.io/Navedkhan012/pen/vrWQMY -->
    <section class="error_page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-10 mx-auto text-center">
              <div class="caveman_bg">
                <h1 class="text-center font-weight-bold">{{code}}</h1>
              </div>
              <div class="content_box">
                <h3 class="h2 font-weight-bold">Well this shouldn't happen</h3>
                <p class="font-weight-bold">
                  Have you tried turning it off and on again?
                </p>
                <a href="/" class="go_home">Go to Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>