<section class="products">
  <div class="myContainer myContainer--py row">
    <div class="col-sm-2 px-0 hide-for-mobile">
      <ul class="list-group list-group-flush products-parent-categories">
          {{#each parentCategories as |parent|}}
          <li class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
            <a  href="#">
            {{parent.catName}}
            </a>
            <ul class="products-child-categories">
              {{#each ../childCategories as |child|}}
              {{#if (isChildOf child.parentId parent.catId)}}
              <li><a href="/category?catId={{child.catId}}">{{child.catName}}</a></li>
              {{/if}}
              {{/each}}
            </ul>
          </li>
          {{/each}}
      </ul>
    </div>
    <div class="col-sm-12 col-md-10">
        <div class="products__near--end">
          <h1 class="products__title">Top 5 products near the end</h1>
          <div class="products__content owl-carousel owl-theme">
             {{#each nearEndList as |product|}}
                  {{>product product=product user=../user}}      
              {{/each}}
          </div>
        </div>
        <div class="products__most--bids mt-5">
          <h1 class="products__title">Top 5 products with the most bids</h1>
          <div class="products__content owl-carousel owl-theme" >
            {{#each mostBidsList as |product|}}
              {{>product product=product user=../user}}
            {{/each}}
          </div>
        </div>
        <div class="products__highest--price mt-5">
          <h1 class="products__title">Top 5 products with the highest price</h1>
          <div class="products__content owl-carousel owl-theme">
            {{#each highestPriceList as |product|}}
              {{>product product=product user=../user}}
            {{/each}}
          </div>
        </div>
    </div>
  </div>
</section>