<section class="products">
  <div class="myContainer myContainer--py row">
    {{>category}}
    <div class="col-sm-10 col-md-10">
        <div class="products__near--end">
          <h1 class="products__title fw-bold">Top 5 products near the end</h1>
          <div class="products__content owl-carousel owl-theme">
             {{#each nearEndList as |product|}}
                  {{>product product=product user=../user}}      
              {{/each}}
          </div>
        </div>
        <div class="products__most--bids mt-5">
          <h1 class="products__title fw-bold">Top 5 products with the most bids</h1>
          <div class="products__content owl-carousel owl-theme" >
            {{#each mostBidsList as |product|}}
              {{>product product=product user=../user}}
            {{/each}}
          </div>
        </div>
        <div class="products__highest--price mt-5">
          <h1 class="products__title fw-bold">Top 5 products with the highest price</h1>
          <div class="products__content owl-carousel owl-theme">
            {{#each highestPriceList as |product|}}
              {{>product product=product user=../user}}
            {{/each}}
          </div>
        </div>
    </div>
  </div>
  </div>
</section>
{{#section "scripts"}}
<script type="text/javascript">
  $(".owl-carousel").owlCarousel({
    margin: 10,
    nav: true,
    responsive: {
      0: {
        items: 1,
      },
      900: {
        items: 3,
      },
      1200: {
        items: 5,
      },
    },
  });
</script>
{{/section}}