<div class="col-sm-12 col-md-10">
  <div class="products__near--end">
    <h1 class="products__title">Top 5 products near the end</h1>
    <div class="products__content owl-carousel owl-theme">
      {{#each this.nearEndList}}
        {{>product product=this}}
      {{/each}}
    </div>
  </div>
  <div class="products__most--bids mt-5">
    <h1 class="products__title">Top 5 products with the most bids</h1>
    <div class="products__content owl-carousel owl-theme" >
      {{#each this.mostBidsList}}
        {{>product product=this}}
      {{/each}}
    </div>
  </div>
  <div class="products__highest--price mt-5">
    <h1 class="products__title">Top 5 products with the highest price</h1>
    <div class="products__content owl-carousel owl-theme">
      {{#each this.highestPriceList}}
        {{>product product=this}}
      {{/each}}
    </div>
  </div>
  
</div>