.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
body.noscroll {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

.myContainer {
  max-width: 75rem;
  margin: 0 auto;
}
.myContainer--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .myContainer--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.myContainer--py {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}
.myContainer--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.myContainer--pt {
  padding-top: 5.5rem;
}
.myContainer--pr {
  padding-right: 1.5rem;
}
.myContainer--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .myContainer--pb {
    padding-bottom: 6rem;
  }
}
.myContainer--pl {
  padding-left: 1.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.text-primary {
  color: #fdb03d !important;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  font-size: 2rem;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background: none;
  color: #292560;
}
.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #fdb03d;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #fdb03d;
}
.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-carousel .owl-stage {
  display: flex;
}

.header {
  background-color: #292560;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.header .nav-link {
  color: white !important;
  transition: color 300ms ease-in-out;
}
.header .nav-link:hover {
  color: #fdb03d !important;
}
.header__logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 40em) {
  .header__logo {
    width: 35%;
  }
}
@media (min-width: 64em) {
  .header__logo {
    width: 25%;
  }
}
.header__logo:hover {
  text-decoration: none;
  color: white;
}
.header__logo span {
  color: #fdb03d;
  font-size: 2rem;
}
.header__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 40em) {
  .header__content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 40em) {
  .header__content {
    width: 65%;
  }
}
@media (min-width: 64em) {
  .header__content {
    width: 75%;
  }
}
.header__content form {
  width: 80%;
}
.header__btn {
  background-color: #fdb03d;
  color: white;
  font-weight: bold;
}
.header__btn.signin {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}
.header__input {
  border-radius: 0.25rem 0 0 0.25rem;
  height: fit-content;
  width: 80% !important;
}
.header__search {
  border-radius: 0 0.25rem 0.25rem 0;
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#292560, transparent);
}
.header .overlay.fade-in {
  display: block;
}
.header__toggle {
  height: fit-content;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  transition: all 300ms ease-in-out;
  transform-origin: 2px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 6px;
}
.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 1;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #292560;
  text-align: center;
  text-decoration: none;
}
.header__menu--item {
  font-weight: bold;
}
.header__dropdown {
  display: none;
  background: lightgray;
  border-radius: 0.3125rem;
  padding: 1.25rem 0;
}
.header__dropdown.open {
  display: block;
  animation: fade_in_show 300ms ease-in-out forwards;
}
.header__dropdown.open a {
  color: #292560;
  font-weight: 500;
  font-size: 0.9375rem;
}

.products-parent-categories > li {
  border-radius: 5px;
  position: relative;
  background: white;
  padding-left: 5px;
  margin: 15px;
  border-style: double;
  border-color: #662d91;
  font-size: large;
  transition: background-color 300ms ease-in-out;
}
.products-parent-categories > li:hover {
  border-radius: 5px;
  background-color: #fdb03d;
  cursor: pointer;
}
.products-parent-categories > li:hover > a {
  color: white;
}
.products-parent-categories > li > a {
  font-weight: bold;
  color: black;
  font-size: larger;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.products-parent-categories > li:hover > ul {
  display: contents;
}
.products-child-categories {
  position: relative;
  top: auto;
  list-style: none;
  font-weight: bold;
  font-size: smaller;
  display: none;
}
.products-child-categories > li {
  margin: -5px;
  margin-right: -16px;
  margin-bottom: -10px;
  padding-left: 15px;
  padding-top: 0px;
  height: 35px;
  border-radius: 5px;
  border-style: double;
  border-color: #fdb03d;
  background: white;
}
.products-child-categories > li > a {
  color: black;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.products-child-categories > li > a:hover {
  right: 5px;
  color: #fdb03d;
  text-decoration: none;
}
.products__title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2rem;
}
.products__content {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  z-index: 0;
}
@media (min-width: 40em) {
  .products__content {
    padding-left: 50px;
  }
}
.products__item {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
}
.products__item--content {
  background-color: #fff;
  display: block;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.products__item--price {
  animation: color 0.3s ease-in-out;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  display: inline-block;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  position: absolute;
  left: 8px;
  bottom: -10px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  font-size: 21px;
  font-size: 1.3125rem;
  width: 100%;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  height: fit-content;
}
.products__item--img {
  height: 18.75rem;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.products__item--img--preview {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 2;
}
.products__item--img--preview a {
  background-color: #fcfcfc;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  color: #222;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 5px 10px;
}
.products__item--img:hover .products__item--img--preview {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.products__item--img a img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  width: 23rem;
}
.products__item--img a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.products__item--wrapper {
  padding: 25px;
}
.products__item--wrapper h3 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  min-height: 50px;
}
.products__item ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid #ededed;
  margin: 0;
}
.products__item ul li {
  display: inline-block;
}
.products__item ul li:last-child {
  margin-right: 0;
  float: right;
}
.products__item ul li:last-child a {
  background: #fff;
  border: 2px solid #662d91;
  color: #662d91;
  padding: 5px 20px;
  font-weight: 500;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.products__item ul li:last-child a:hover {
  background: #662d91;
  color: #fff;
}
.products__pagination {
  padding-left: 400px;
  text-align: center;
}

@media (min-width: 40em) {
  .info__wrapper {
    padding-top: 0;
  }
}

.winning__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.winning__item {
  max-width: 25rem;
}
.winning__item--content {
  min-height: 6rem;
}

/*# sourceMappingURL=style.css.map */
