{{#section "stylesheets"}}
  <link rel="stylesheet" href="/public/css/admin/manageCategory.css" />
{{/section}}

<div>
  <h1 class="text-center h3 fw-bold">Edit Category</h1>
  <form method="post" action="/admin/manage/categories">
    <div class="form-group">
      <h2 class="h4">Old Name:</h2>
      <input
        type="text"
        class="form-control"
        placeholder="{{Category.catName}}"
        readonly
      />
      <input type="hidden" value="{{Category.catID}}" name="catId" />
      <small id="emailHelp" class="form-text text-muted">This is old name of
        category.</small>
    </div>
    <br />
    <div class="form-group">
      <h2 class="h4">New Name:</h2>
      <input
        type="text"
        class="form-control"
        name="newName"
        placeholder="Input new name here"
      />
      <input type="hidden" value="editCate" name="content" />
    </div>
    <br />

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn bg-primary text-white">
        Submit
      </button>
    </div>
  </form>
</div>