<div style="background-color: white;" class="rounded-3 p-4">
    <h1 class='h3 fw-bold'>My current bidding list</h1>
    {{#if empty}}
        <div class="alert alert-info">You have not bid for any products yet</div>
    {{else}}
        <div class="products__bidding">
            {{#each this.currentBidsList}}
                {{>product product=this user=../user}}
            {{/each}}
        </div>    
    {{/if}}
</div>

{{#section "scripts"}}
<script src="/public/js/likeAction.js"></script>
{{/section}}