<div style="background-color: white;" class="rounded-3 p-4">
  <h1 class="h3 fw-bold">My rating</h1>
  <p class="h4">
    {{#if empty}}
      <div class="alert alert-info">You have not received any rates yet </div>
    {{else}}
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      Rating:
      {{ratingPoint}}
      ({{rateNums}}
      reviews)
    {{/if}}
  </p>
  <div class="rating__content">
    {{#each ratingList as |ratingItem|}}
      {{>ratingbox rating=ratingItem}}
      {{#unless ratingItem.last}}
        <hr />
      {{/unless}}
    {{/each}}
  </div>
</div>

