{{! 
  Require fields:
  {
    alert (optional): {
      type
      message
    }
  }
}}
<section class="verify">
  <div class="row justify-content-center m-0">
    <div class="col-md-7 col-lg-5">
      <div class="auth-wrap p-2 p-md-5">
        <div class="d-flex">
          <div class="w-100">
            <h3>Password Reset</h3>
            <p class="mb-4">
              Your password must be at least five characters
            </p>
          </div>
        </div>
        <!-- Reset Password Form -->
        <form id="resetPasswordForm" action={{submitAction}} method="POST">
          <!-- New Password -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon fa fa-lock"></span>
            </div>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="New Password"
              class="form-control border-left-0 border-md"
              required
            />
          </div>

          <!-- Confirm Password -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon fa fa-lock"></span>
            </div>
            <input
              id="passwordConfirmation"
              type="password"
              name="passwordConfirmation"
              placeholder="Confirm Password"
              class="form-control border-left-0 border-md"
              required
            />
          </div>
        </form>
        {{#with alert}}
          <div class="alert alert-{{type}}" role="alert">
            {{message}}
          </div>
        {{/with}}
        <div class="row">
          <!-- Submit Button -->
          <div class="col-lg-4 mx-auto">
            <button
              type="submit"
              form="resetPasswordForm"
              class="btn btn-primary btn-block py-2 submit"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>