#manage-categories form {
  display: inline;
}
.products-root > li {
  border-radius: 5px;
  background: #fff;
  padding-left: 5px;
  margin-bottom: 15px;
  border-style: double;
  border-color: #292560;
  font-size: large;
  transition: background-color 300ms ease-in-out;
}
.products-root > li:hover {
  border-radius: 5px;
  background-color: #292560 !important;
  cursor: pointer;
}

.products-root > li > a {
  font-weight: bold;
  color: black;
  font-size: larger;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}

/* .products-root > li.active {
  color: white;
} */

.products-root > li:hover > a,
.products-root > li:focus > a {
  color: white;
}

.products-child {
  position: relative;
  top: auto;
  list-style: none;
  font-weight: bold;
  font-size: smaller;
  display: none;
}
.products-child > li {
  padding-bottom: 50px;
  padding-right: 10px;
  margin: -5px;
  margin-right: -16px;
  margin-bottom: -10px;
  padding-left: 15px;
  padding-top: 10px;
  height: 35px;
  border-radius: 5px;
  border-style: groove;
  border-color: #292560;
  background: white;
}

.products-child > li > div > a {
  color: black;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.products-child > li > a:hover {
  right: 5px;
  color: #fdb03d;
  text-decoration: none;
}

@media (min-width: 64em) {
  .products__disable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/* CSS */
/* .addRootButton-pushable,
.addChildButton-pushable,
.editRootButton-pushable,
.deleteRootButton-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addRootButton-shadow,
.addChildButton-shadow,
.editRootButton-shadow,
.deleteRootButton-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.editRootButton-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(0, 70, 82) 0%,
    rgb(0, 158, 163) 8%,
    rgb(0, 158, 163) 92%,
    rgb(0, 70, 82) 100%
  );
}

.deleteRootButton-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(82, 12, 0) 0%,
    rgb(163, 19, 0) 8%,
    rgb(163, 11, 0) 92%,
    rgb(82, 10, 0) 100%
  );
}

.addChildButton-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(0, 82, 27) 0%,
    rgb(19, 163, 0) 8%,
    rgb(0, 163, 27) 92%,
    rgb(0, 82, 18) 100%
  );
}

.addRootButton-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.editRootButton-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: rgb(9, 159, 196);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.deleteRootButton-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: rgb(196, 31, 9);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.addChildButton-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: rgb(9, 196, 81);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.addRootButton-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .addRootButton-front,
  .addChildButton-front,
  .editRootButton-front,
  .deleteRootButton-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.addRootButton-pushable:hover,
.addChildButton-pushable:hover,
.editRootButton-pushable:hover,
.deleteRootButton-pushable:hover {
  filter: brightness(110%);
}

.addRootButton-pushable:hover .addRootButton-front,
.addChildButton-pushable:hover .addChildButton-front,
.editRootButton-pushable:hover .editRootButton-front,
.deleteRootButton-pushable:hover .deleteRootButton-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.addRootButton-pushable:active .addRootButton-front,
.addChildButton-pushable:active .addChildButton-front,
.editRootButton-pushable:active .editRootButton-front,
.deleteRootButton-pushable:active .deleteRootButton-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.addRootButton-pushable:hover .addRootButton-shadow,
.addChildButton-pushable:hover .addChildButton-shadow,
.editRootButton-pushable:hover .editRootButton-shadow,
.deleteRootButton-pushable:hover .deleteRootButton-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.addRootButton-pushable:active .addRootButton-shadow,
.addChildButton-pushable:active .addChildButton-shadow,
.editRootButton-pushable:active .editRootButton-shadow,
.deleteRootButton-pushable:active .deleteRootButton-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.addRootButton-pushable:focus:not(:focus-visible),
.addChildButton-pushable:focus:not(:focus-visible),
.editRootButton-pushable:focus:not(:focus-visible),
.deleteRootButton-pushable:focus:not(:focus-visible) {
  outline: none;
} */
