@import '../_variables';

body {
  font-family: 'Montserrat', sans-serif;
}
.logo {
  width: auto;
  height: 20%;
}

.auth-wrap {
  position: relative;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.form-control {
  height: 48px;
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 60px;
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
    border: 1px solid $primary;
  }
  outline: none;
}

.icon {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: white;
  // color: white;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control:focus {
  box-shadow: none;
}

.social-media {
  position: relative;
  width: 100%;
  .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
    span {
      color: lighten($primary, 60%);
    }
    &:hover,
    &:focus {
      background: $primary;
      span {
        color: white;
      }
    }
  }
}

input[type='checkbox'] {
  margin-right: 5px;
}

.btn {
  cursor: pointer;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
  &.btn-primary {
    background: $primary;
    border: 1px solid $primary;
    color: white;
    &:hover {
      border: 1px solid $primary;
      background: aliceblue;
      color: $primary;
    }
    &.btn-outline-primary {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color: white;
      }
    }
  }
  &.btn-secondary {
    background: $secondary;
    border: 1px solid $secondary;
    color: white;
    &:hover {
      border: 1px solid $secondary;
      background: aliceblue;
      color: $secondary;
    }
    &.btn-outline-secondary {
      border: 1px solid $secondary;
      background: transparent;
      color: $secondary;
      &:hover {
        border: 1px solid transparent;
        background: $secondary;
        color: white;
      }
    }
  }
}
