<div style="background-color: white;" class="rounded-3 p-4">
    <h1 class='text-center h3 fw-bold'>My favorite list</h1>
    {{#if empty}}
        <div class="alert alert-info">You don't have any favorite products</div>
    {{else}}
        <div class="products__favorite">
            {{#each this.favoriteList}}
                {{>product product=this user=../user}}
            {{/each}}
        </div> 
    {{/if}}
</div>