<div class='favorite col-sm-10'>
    <div>
        <h1 class='h3 text-center'>My Favorite List</h1>
        <div class="row">
            {{#each this.favoriteList}}
                <div class="col-sm-4">
                    {{>product product=this}}
                </div>
            {{/each}}
        </div>    
    </div>
</div>