<div style='padding-top: 5.5rem;' class='info'>
  <div class='row h-100 m-0 my-2 justify-content-center align-items-center'>
    <div class='col-sm-4 info__wrapper border border-4 border-info p-5 rounded'>
      <div>
        <p class='h4'>Email: <span class='h5'>tmnguyen@gmail.com</span></p>
      </div>
      <div>
        <p class='h4'>First Name: <span class='h5'>Tam</span></p>
      </div>
      <div>
        <p class='h4'>Last Name: <span class='h5'>Nguyen</span></p>
      </div>
    </div>
  </div>

</div>