<h1 class="h3 text-center">My rating</h1>
<p class="h4">
  {{! <span class="h4">Rating point: </span>
    <span class="text-danger">8.0</span>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i> }}
  <i class="fa fa-star text-warning" aria-hidden="true"></i>
  Rating: 8 (10 reviews)
</p>
<div class="rating__content">
  <div class="rating__item w-50 border border-4 border-warning p-4">
    <p class="rating__title">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      Tam Nguyen
      <i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>
    </p>
    <hr />
    <p>Fast transaction!!!</p>
  </div>
</div>