<h1 class="h3 text-center">My Winning Products</h1>
<div class="winning__content py-3">
  {{#each this.winningList as |winItem|}}
    <div class="winning__item bg-light p-4 mb-3">
      <div class="winning__item--content d-flex">
        <img
          style="max-height: 5rem;"
          src="/public/images/product/{{winItem.proId}}/1.jpg"
          alt="Winning Product"
        />
        <div class="ps-3">
          <p class="m-0 fw-bold">{{winItem.proName}}</p>
          <p class="m-0 text-danger"><i
              class="fa fa-usd"
            ></i>{{winItem.currentPrice}}
          </p>
          <p class="m-0"><i class="fa fa-user" aria-hidden="true"></i>
            Tam Nguyen</p>
        </div>
      </div>
      <button
        class="btn header__btn mt-2"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#ratingModal"
      >Rate</button>
    </div>
  {{/each}}
  <div
    style="margin-top: 5.5rem;"
    class="modal fade"
    id="ratingModal"
    tabindex="-1"
    aria-labelledby="ratingModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ratingModalLabel">Give us your thoughts</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="email" class="col-form-label">Comment</label>
              {{! <input type="email" class="form-control" id="email" /> }}
              <textarea
                style="display: block; width: 100%"
                name="commentBox"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>